<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{.Title}}</title>
        <style>
            body {
                font-family: serif;
            }
            h1 {
                background: #eef;
            }
        </style>
        <link rel="stylesheet" href="/app.css"/>
        <script src="/app.js"></script>
    </head>
    <body>
        <h1>{{.Title}}</h1>

        <div class="container" id="pjax-container">
            {{block "content" .}}
            <div id="content">
                {{.Body}}
            </div>
            {{end}}
        </div> 
    </body>
</html>
