{{define "content"}}
<div id="login">
  <form action="" method="POST">
  Username: <input type="text"     id="username" name="username" value=""><br>
  Password: <input type="password" id="password" name="password" value=""><br>
            <input type="submit" value="Login">
  </form>
</div>
{{end}}
